.pagewrapper {
    display: flex;
    justify-content: center;
    flex: none;
    gap: 20px;
    width: 1500px;
    margin-left: 100px;
}

.wrapper {
    display: inline-grid;
    height: 960px;
    width: 960px;
    grid-template-columns: repeat(16, 1fr);
    border: 2px solid black;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 960px;
    width: 200px;
    border: 2px solid black;
}

.sidebar div {
    width: 160px;
    height: 160px;
    text-justify: center;
    text-align: center;
    border: 1px solid orange;
    border-radius: 10px;
}

.red{
    background-color:rgb(255,0,0);
}

.blue{
    background-color: rgb(0,0,255);
}

.green{
    background-color: rgb(0,255,0);
}
